/* Colors */
/* fonts setting */
@font-face {
  font-family: 'ProximaNova_Reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Basic setting */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_Reg', sans-serif;
}
input:focus,
button:focus,
a:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
button:hover {
  cursor: pointer;
  background-color: #e8a301;
}
.button {
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #feb404;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
}
@media (max-width: 999px) {
  .phone-back,
  .wrap-block {
    text-align: center;
  }
  .main-title {
    text-align: center;
  }
  .title-strong {
    margin-bottom: 3rem;
  }
}
/* Typography */
section {
  padding: 10rem 0;
}
/* main */
.main {
  /*padding: 0 0;*/
  background: #ffffff url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
}
/* main-header */
.header {
  margin-top: 1.4rem;
  height: 7rem;
}
.phone-back {
  padding: 0;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
}
/* main-content */
.main-content {
  margin-top: 8rem;
}
.main-content .main-title h1 {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
}
.main-content .main-title p {
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 2.4rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.main-content .main-title span {
  display: inline-block;
  padding: 2.5rem 4.5rem;
  color: #ffffff;
  background-color: #46b814;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.8rem;
}
.main-content .main-title span strong {
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 3rem;
}
.main-content .main-title .title-strong {
  display: block;
  text-transform: uppercase;
  font-family: 'ProximaNova_Bold', sans-serif;
  font-size: 2.2rem;
  margin-top: 4rem;
}
.main-content .main-form {
  text-align: center;
  background-color: #ffffff;
  padding: 4rem 5rem;
}
.main-content .main-form h2 {
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-content .main-form .main-form-label {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  background-color: #ffffff;
  margin-bottom: 2rem;
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.3rem;
}
.main-content .main-form .main-form-input {
  padding: 0 1.5rem;
  height: 5rem;
  margin-bottom: 2.5rem;
  border-radius: 0.6rem;
  width: 100%;
  border: solid 0.1rem #dddddd;
}
.main-content .main-form .main-form-button {
  padding: 2rem 5rem;
  border-radius: 8px;
  font-size: 1.6rem;
  background-color: #feb404;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  margin-bottom: 1.5rem;
}
.main-content .main-form p {
  font-size: 1.2rem;
}
.main-content .singl {
  font-family: 'ProximaNova_Reg', sans-serif;
  font-size: 1.2rem;
  padding: 0 3rem;
  margin-top: 3rem;
}
